
img.dp { 
	border-radius: 40px;
	border: 1px solid LightGray;
	max-width: 100%;
	height: auto;
	margin-left: 350px;
	margin-top: 100px;
}
h1.one {
	position:absolute;
	left: 800px;
	top: 200px;
	font-family:Helvetica;
	font-weight: bold;
	font-size: 3.5em; 
	color:rgb(0, 0, 0)
}
/* Reference font size and positioning from w3schools.com/css/ */

h2 {
	position: absolute;
	left: 800px;
	top: 290px;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.75em;
}

h1.two {
	font-family: Helvetica;
	font-size: 2.5em;
}

h4 { 
	font-family: Helvetica;
	font-size: 1.5em;
}
div.profile {
	position: absolute;
	left: 250px;
	top: 650px;
	font-family: Helvetica;
	font-size: 32px;
	color: rgb(35, 92, 35);
	font-weight: bold; 
}
div.profile_text {
	position:absolute;
	left: 250px;
	top:700px;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	width: 450px;
	line-height: 26px;
}
div.work_history {
	position:absolute;
	left:800px;
	top:650px;
	font-family:Helvetica;
	font-size:1.5em;
	color: rgb(67, 71, 67);
	font-weight:bold;
}

img.Trent {
	position:absolute;
	left: 800px;
	top: 350px;
	border: 5px solid #555;
}
img.Fleming {
	position:absolute;
	left: 1100px;
	top:350px;
	border: 5px solid #555;
}

div.Firstwork {
	position:absolute;
	left:800px;
	top:700px;
	font-family:"Times New Roman", Times, sans-serif;
	font-size:1.2em;
	width:105px;
}
div.maintenance {
	position:absolute;
	left:950px;
	top:700px;
	font-family:"Times New Roman", Times, sans-serif;
	font-size:1em;
	width: 450px;
	line-height: 25px;
}
div.Secondwork {
	position:absolute;
	left:800px;
	top:800px;
	font-family:"Times New Roman", Times, sans-serif;
	font-size:1.2em;
	width:105px;
}
div.proshop {
	position:absolute;
	left:950px;
	top:800px;
	font-family:"Times New Roman", Times, sans-serif;
	font-size:1em;
	width:450px;
	line-height: 25px;
}
div.Education {
	position:absolute;
	left:800px;
	top:900px;
	font-family:Helvetica;
	font-size:1.5em;
	color: rgb(67, 71, 67);
	font-weight: bold;
	
}
div.TrentU {
	position:absolute;
	left: 800px;
	top: 950px;
	font-family:"Times New Roman", Times, sans-serif;
	font-size:1.2em;
	width:150px;
}
div.TrentText {
	position:absolute;
	left:950px;
	top:950px;
	font-family:"Times New Roman", Times, sans-serif;
	font-size:1em;
	width:450px;
	line-height: 25px;
}
div.FlemingC {
	position:absolute;
	left:800px;
	top:1025px;
	font-family:"Times New Roman", Times, sans-serif;
	font-size:1.2em;
	width:150px;
}
div.FlemingText {
	position:absolute;
	left:950px;
	top:1025px;
	font-family:"Times New Roman", Times, sans-serif;
	font-size:1em;
	width:450px;
	line-height: 25px;
}
div.References {
	position:absolute;
	left: 250px;
	top:1020px;
	font-family:Helvetica;
	font-size:20px;
	color: rgb(35, 92, 35);
	font-weight: bold;
}
div.ReferencesText {
	position:absolute;
	left:250px;
	top:1055px;
	font-family:"Times New Roman",Times, sans-serif;
	font-size:1em;
	width:450px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}

li a:hover {
	background-color: #111
}
/* End of Resume Page - all css styles from w3schools.com */

p {
	width:600px;
	font-family:'Times New Roman', Times, sans-serif;
	line-height: 25px;
}

img.Golf {
	position:absolute;
	top:70px;
	left:700px;
	border: 5px solid #555;
}

img.OLP {
	position:absolute;
	top: 500px;
	left:900px;
	border: 5px solid #555;
}

img.Travel {
	position:absolute;
	top:70px;
	left:1100px;
	border: 5px solid #555;
}

button {
	background-color:rgb(23, 45, 110);
	color: white;
	padding: 15px 32px;
	text-align: center;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 20px;
}
/* End of Biography Page - all css formatting from https://www.w3schools.com/css/ */
